/* your code */
.ep1{
	margin: 10px;
	padding: 10px 20vh 10px 0px;
}
.ep2{
	margin: 10px 0px 0px 0px;
	padding: 10px 10vh 10px 0px;
}
#eg1{
	background-color: blueviolet;
}
#eg6{
	background-color: blueviolet;
}
#eg2{
	background-color: blueviolet;
}
#eg3{
	background-color: blueviolet;
}
#eg4{
	background-color: blueviolet;
}
#eg5{
	background-color: blueviolet;
}